$blue: #00acee;

.main-content-container {
	width: 100%;

	@for $i from 1 to 6 {
		.content-block#{$i}-info-container {
			padding: 5rem;
		}
	}

	.content-block1 {
		h1 {
			text-align: center;
			color: $blue;
			font-weight: 300;
			font-size: 40px;

			b {
				font-weight: 500;
			}
		}
	}

	.content-block2 {
		background-color: #E6E6E6;
		height: 75vh;
		width: 100%;

		.square {
			background-color: red;
			width: 100px;
			height: 100px;
		}

		h3 {
			font-weight: 500;
			font-size: 20px;

		}
	}

	.content-block3 {
		height: 80vh;
		background-color: pink;
	}

	.content-block4 {
		height: 80vh;
		background-color: green;
	}

	.content-block5 {
		height: 80vh;
		background-color: yellow;
	}

}


/*.parallax {
	height: 100%;
	background-image: url('../images/main/edm_031733_n309_medium-(1).jpg');

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}*/