$grey: #f1f3f4;

.footer-container {
	height: 45vh;
	background-color: $grey;
	text-align: center;
	padding: 1rem;

	h3 {
		text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
	}

	.foot-links {
		ul {
			list-style-type:none;
			padding: 2rem;
			cursor: context-menu;
			
			li {
				float: left;
				display: block;
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}

			li:hover {
				color: #00acee;
			}
		}

		a {
			color: black;
		}
	}

	.copyrights {
		line-height: 0.5;
		p {
			font-size: 14px;
		}
		
	}
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeLarge:hover {
	color: #A6A5A5 !important;
}