$blue: #00acee;
$shadow: 0 4px 8px 0 rgba(0,0,0,0.4);

.main-content-container {
	width: 100%;
	p {
		line-height: 2;
	}
	h3 {
		font-weight: 500;
		font-size: 20px;
		text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
		text-transform: uppercase;
	}

	img {
		border-radius: 5px;
		box-shadow: $shadow;
	}

	@for $i from 1 to 6 {
		.content-block#{$i}-info-container {
			padding-top: 3rem;
			padding-bottom: 3rem;
			padding-left: 10rem;
			padding-right: 10rem;
		}
	}

	.content-block1 {
		h1 {
			text-align: center;
			color: $blue;
			font-weight: 300;
			font-size: 40px;

			b {
				font-weight: 500;
			}
		}
	}

	.content-block2 {
		background-color: #E6E6E6;
		height: 100%;
		width: 100%;

		.square {
			background-color: $blue;
			width: 100%;
			height: 90%;
		}

		.img1 {
			max-width: 400px;
			height: auto;
		}

		.top {
			grid-column: 3 / span 8;
			grid-row: 1;
			padding-top: 15%;
			z-index: 1;
		}

		.bottom {
			grid-column: 4 / -1;
			grid-row: 1;
		}


		.img-stack {
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			position: relative;
		}
	}

	.content-block3 {
		height: 100%;
		width: 100%;
		background-color: #fff;

		img {
			margin-top: 2rem;
			height: auto;
			max-width: 80%;
			object-fit: cover;
		}
	}

	.content-block4 {
		height: 100%;
		width: 100%;
		background-color: #E6E6E6;

		img {
			height: auto;
			max-width: 90%;
			object-fit: cover;
		}
	}

	.content-block5 {
		height: 100%;
		width: 100%;
		/*background-color: #fff;*/
	}

}


[data-scroll] {
  transition: all 1s;
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0)
}
[data-scroll="out"] {
  opacity: 0;
  transform: translateY(200px)
}